
BODY {
    color: green;
    background: white url(../Draft.jpg) no-repeat fixed center center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;        /* như bài bạn kia */
    margin: 0;
}

H1, H2, H3, H4, H5, H6 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(153, 102, 6);
}

ADDRESS {
    font-size: 0.9em;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
}

BLOCKQUOTE {
    background-color: silver;
}

UL {
    list-style: circle url(Apple.jpg) outside;
    display: flow-root; 
}
UL + H3 {
    clear: both;
}

UL B {
    color: rgb(155, 0, 0);
}

A {
    font-size: 0.9em;
    color: green;
}

A:hover {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}

.Special {
    color: rgb(153, 102, 6);
    font-weight: bold;
}

DIV.Article {
    padding: 0.5em;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(252, 221, 163);
    width: 220px;
    float: right;
    margin-left: 10px;    
}
.page-box {
    width: 650px;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 25px;
    border: 1px solid #555;
    background-color: white;
}

.page-box::after {
    content: "";
    display: block;
    clear: both;
}

.page-box header {
    text-align: center;
}
DIV.Article H3 {
    margin-top: 0;
    text-align: center;
    color: rgb(155, 0, 0);
}
DIV.Article IMG.messier-image {
    float: right;
    width: 100px;
    margin: 0 0 4px 6px;
}